attic
private
*.o
*.hpgl
*.nc
*.png
*.svg
a6cardlabels
allover12
allover13
arches
celticstep
circle4
circle_lines
coords
coords-nc
cs_rosette
curve_stitching
dala1
dala1-nc
dala2
dala2c
dala3
dome
ellipse
ellipse-nc
flake
fraserspiral
hconic2
hexagon
hexspiral
hilb
hyp
isogrid
libtest
linetiles
lissajous
lobe
lotus
morphpoly
octoflower
op
op_moire
pappus
pappus-nc
pconic
piscis
pin_and_cotton
pin_circle
plottext
poly_oval
qrplot
rtree
spiralsq
spiro
sqinsq
star_grid
superellipse
sutpent
ternary_arcs
tree
twist
zigzag
