attic
*.o
*.hpgl
*.nc
allover12
allover13
arches
celticstep
coords
coords-nc
cs_rosette
curve_stitching
dala1
dala1-nc
dala2
dala2c
dala3
dome
ellipse
ellipse-nc
flake
fraserspiral
hconic2
hexagon
hilb
hyp
lissajous
lobe
lotus
op
op_moire
pappus
pappus-nc
pconic
piscis
pin_and_cotton
plottext
qrplot
rtree
spiralsq
spiro
sqinsq
superellipse
tree
twist
zigzag
